//------------------Mixin--------------------//
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//-------------------------------------------//

.contact-info__container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.email {
  a {
    color: rgb(51, 87, 163);
    text-underline-offset: 2px;
  }
}

.contact-info--tag {
  background-color: white;
  border-radius: 50px;
  padding: 15px 30px 5px 80px;
  position: relative;
  box-shadow: 0 20px 25px -15px rgba(161, 161, 161, 0.603);
  transform: rotate(3deg);
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(151, 206, 255);
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 5%;
    right: 0;
  }
}

.online-site {
  display: flex;
  justify-content: center;
  gap: 30px;
  a {
    text-decoration: none;
  }
  div {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    font-size: 1rem;
  }
}

.linkedin-container {
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  background-color: rgb(24, 132, 255);
  color: white;
  transition: ease-out 0.3s;
  @include flex-column-center();
  &:hover {
    opacity: 0.8; transform: rotate(-10deg);
  }
}

.github-container {
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  background-color: black;
  color: white;
  transition: ease-out 0.3s;
  @include flex-column-center();
  &:hover {
    opacity: 0.8;
    transform: rotate(10deg);
  }
}

@media (max-width: 800px) {
  .contact-info__container {
    flex-direction: column;
  }
}

@media (max-width: 500px){
  .contact-info--tag{
    font-size: 0.7rem;
  }
  
}
