.language-skill {

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    gap: 20px;
  }
}

@keyframes left-to-right-transition {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(1);
  }
  // freeze frame from 20% -> 100%
  100% {
    transform: scaleX(1);
  }
}

@mixin progress-bar($filler-width, $percentage) {
  background-color: black;
  border: 2px solid black;
  border-radius: 30px;
  width: 100px;
  

  &::after {
    content: "";
    width: $filler-width;
    border-radius: 30px;
    background: #a7e740;
    display: block;
    position: absolute;
    height: 18px;
    // animation //
    animation-name: left-to-right-transition;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
  }

  &::before {
    content: $percentage;
    width: $filler-width;
    z-index: 1;
    border-radius: 30px;
    display: block;
    position: absolute;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    height: 18px;
    text-align: center;
    line-height: 18px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.progress-bar--thai {
  @include progress-bar(100px, "100%");
}

.progress-bar--english {
  @include progress-bar(80px, "80%");
}

.progress-bar--chinese {
  @include progress-bar(30px, "30%");
}

#advanceText {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted;
  text-underline-offset: 1px;
  &::after {
    content: "TOEIC 945";
    position: absolute;
    display: block;
    bottom: 0;
    left: 70px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: white;
    box-shadow: 1px 1px 2px grey;
    border-radius: 6px;
    text-align: center;
    // animation
    transform: scale(0);
    transition: 0.3s ease-in-out;
    transform-origin: 0 50%;
  }
  &:hover::after {
    transform: scale(1);
  }
}
